<div class="container">

    <div *ngFor="let item of listOfCardsData | async" class="card">
        <div class="card__header">
            <img [src]="item.cardImageUrl" alt="card__image" class="card__image" width="600">
        </div>
        <div class="card__body">
            <span class="tag tag-blue">{{item.tagLabel}}</span>
            <h4>{{item.cardBodyTitle}}</h4>
            <p>{{item.cardContent}}</p>
        </div>
        <div class="card__footer">
            <div class="user">
                <img [src]="item.editorProfileImageUrl" alt="user__image" class="user__image" width="40" height="40">
                <!-- <img src="https://i.pravatar.cc/40?img=1" alt="user__image" class="user__image"> -->
                <div class="user__info">
                    <h5>{{item.editorName}}</h5>
                    <small>{{item.timeOfEdit}}</small>
                </div>
            </div>
        </div>
    </div>

</div>